@import "../../../scss/colors";
.title {
  color: $title-color;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.button {
  padding: 15px 30px;
  border: none;
  font-weight: 700;

  &.active {
    color: #fff;
    &.direction {
      background-color: $direction_button;
    }
    &.option-mode {
      background-color: $option-type_button;
    }
    &.style {
      background-color: $style_button;
    }
  }

  &:nth-child(odd) {
    border-radius: 10% 0 0 10%;
  }
  &:nth-child(even) {
    border-radius: 0 10% 10% 0;
  }

  &:hover {
    opacity: 0.8;
  }
}
