@import '../../scss/colors';
@import '../../scss/components';

.container {
	.container_content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		margin-top: 14px;

		> div {
			width: calc(50% - 10px); // ширина дива равна половине пространства минус гэп между флексами
		}
	}
}
